readai/
backend/static/*
epub-reader-frontend/.gitignore
.DS_Store
__pycache__/
frontend/node_modules
frontend/epub-reader-app/node_modules/
frontend/epub-reader-frontend/node_modules/
backend/*.epub
backend/*.npy
AWSCLIV2.pkg
*.env